<h1><%= title %></h1>
<form action="/users/signin" method="post">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

  <input type="email" name="email" id="email" />
  <label for="email">帳號</label>
  <input type="password" name="password" id="password" />
  <label for="password">密碼</label>
  <button type="submit">登入</button>
</form>
